/**body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Lucida Console', 'Courier New', 'Monospace';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #0800ff;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Lucida Console', 'Courier New', 'Monospace';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.Resume {
  width: 60%;
}

.blurb {
  display:inline-block;
}

.profilepic {
  display: inline-block;
} **/

/* CSS HEX */
--tyrian-purple: #5a1643ff;
--mandarin: #ef6b37ff;
--orange-yellow-crayola: #f1d37eff;
--mint-cream: #e4f1e9ff;
--ash-gray: #aeb7b3ff;
/********
from tim
********/
html {
  font-size: 100%;
}
background-color: #5a1643ff
body {
  font-size: 15px;
  font-size: 0.9375rem;
  font-family: 'Lucida Console', 'Courier New', 'Monospace';
  color: #f56b0e;
  padding: 0;
}
.topspace {
  margin-top: 20px;
}




:root {
  --mainColor: #e4f1e9ff;
}


a.highlight {
  background:
     linear-gradient(
       to bottom, var(--mainColor) 0%,
       var(--mainColor) 100%
     );
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 4px 4px;
  color: #e4f1e9ff;
  text-decoration: none;
  transition: background-size .2s;
}

a.highlight:hover {
  background-size: 4px 50px;
}


/*********************************************************************


                            Navigation in header


**********************************************************************/
.navbar {
  border-width: 1px 0;
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  width: 100%;
}
.navbar.stick {
  position: fixed;
  top: 0;
  left: 0;
  opacity: .85;
}
.navbar-collapse {
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}
.navbar-collapse .navbar-nav {
  float: none;
  margin: 0 auto;
  text-align: center;
}
.navbar-collapse .navbar-nav > li {
  float: none;
  display: inline-block;
}
.navbar-collapse .navbar-nav > li > a {
  padding: 20px 30px;
}
.dropdown ul.dropdown-menu {
  top: 85%;
  text-align: left;
}
.dropdown ul.dropdown-menu > li > a {
  padding: 5px 30px;
}
.navbar-default {
  background-color: #ffffff;
  border-color: #3aafa9;
}
.navbar-default .navbar-nav > li > a {
  color: #17252a;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #feffff;
  /*background-color: #3aafa9;*/
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #17252a;
  background-color: #ffffff;
}
.navbar-default .dropdown ul.dropdown-menu > li > a {
  color: #17252a;
}
.navbar-default .dropdown ul.dropdown-menu > li > a:hover {
  background-color: #3aafa9;
  color: #000000;
}
.navbar-default .navbar-toggle {
  border-color: #3aafa9;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ffffff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #3aafa9;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #3aafa9;;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #ffffff;
  color: #000000;
}
